/* ******************** */
/*	Sidemenu			*/
/* ******************** */

#sideMenu {
	height:							100%;
	width:							250px;
	position:						fixed;
	overflow-y:						auto;
}

.sidenav a {
	padding:						5px;
	text-decoration:				none;
	font-size:						16px;
	display:						block;
	background-color:				#eee;
	text-decoration:				none;
	color:							#555;
	margin:							0 20px 0 10px;
}

.sidenav a:hover {
	background-color:				#ccc;
	color:							black;
}

.sidenav a.sidetitle {
	background-color:				#660;
	color:							white;
	padding:						12px;
	border-top-left-radius:			15px;
}

.sidenav a.sidetitle:not(:first-child) {
	margin-top:						50px;
}

.sidenav a.sideselected{
	background-color:				#888;
	color:							white;
}

.sidenav a.glow{
	animation:						2s multicolor;
}
@keyframes multicolor {
    0% {
        color: #555;
		border-radius:				0px
    }
    50% {
		background-color:			#FF8;
		border-radius:				20px;
    }
    90% {
		background-color:			#FF8;
		border-radius:				20px;
    }
    95% {
		background-color:			#DD3;
		border-radius:				20px;
    }
    100% {
		background-color:			#555;
		border-radius:				0px;
    }
}

.element {
	position:						absolute;
	top:							0px;
	left:							250px;
	right:							10px;
	padding:						30px 50px;
}

.hide {
	display:						none;
}

.error {
	position:						relative;
	text-align:						center;
	margin:							auto;
	top:							300px;
	width:							50%;
	font-size:						2em;
	border:							5px solid red;
	background:						#EEE;
	border-radius:					10px;
	z-index:						9;
}


/* ******************** */
/*	Forms				*/
/* ******************** */


.info {
	color:							#0A0;
	background:						yellow;
	font-size:						18px;
	padding:						0 10px;
	border-radius:					5px;
}

input[type="button"] {
	font-size:						14px;
	padding:						10px 50px;
	border-radius:					5px;
}

input[type="file"] {
	font-size:						14px;
}

input[type="text"] {
	height:							2em;
	font-size:						14px;
}


/* ******************** */
/*	MACROS				*/
/* ******************** */

table {
	width:							50%;
	font-size:						16px;
}

#tmacro {
	border-collapse:				collapse;
	margin-top:						5%;
	margin-left:					5%;
}

#tmacro tr {
	border:							1px solid #ccc;
}

#tmacro tr td:first-child {
	width:							25%;
}

#tmacro td {
	padding:						10px 20px;
	border:							1px solid #ccc;
}

.macroCommand {
	font-weight:					bold;
}



/* ******************** */
/*	Scrollbars			*/
/* ******************** */

::-webkit-scrollbar {
	width:							0.6em;
}

::-webkit-scrollbar-button {
	background:						#ccc;
}

::-webkit-scrollbar-track-piece {
	background:						#eee;
}

::-webkit-scrollbar-thumb {
	background:						#b88;
}


/* ******************** */
/*	Layer selector		*/
/* ******************** */

.radio {
	float:							left;
	width:							15%;
}

.radio:first-of-type {
	border-top-left-radius:			12px;
	border-bottom-left-radius:		12px;
}

.radio:last-of-type {
	border-top-right-radius:		12px;
	border-bottom-right-radius:		12px;
}

.cf:before,
.cf:after {
    content:						" ";
    display:						table;
}

.cf:after {
    clear:							both;
}

.form {
	width:							980px;
}

.layer {
	width:							100%;
	margin-left:					310px;
	margin-top:						50px;
}

.form .layer input {
	display:						none;
}

.form label {
	position: relative;
	color:							#333;
	background-color:				#fff;
	font-size:						16px;
	text-align:						center;
	height:							40px;
	line-height:					38px;
	width:							125px;
	display:						block;
	cursor:							pointer;
	border:							1px solid #666;
	-webkit-box-sizing:				border-box;
	-moz-box-sizing:				border-box;
	box-sizing:						border-box;
}

.form .layer input:checked + label {
	border:							1px solid #333;
	background-color:				#47f;
	color:							#fff;
}


/* ******************** */
/*	Keyboard			*/
/* ******************** */

.keyboard {
	display:						grid;
	max-width:						940px;
	padding:						40px 60px 25px;
	position:						absolute;
	margin-left:					50px;
	margin-top:						50px;
	background-color:				#333;
	border-radius:					10px;
	grid-template-columns:			repeat(63, 10px);
	grid-template-rows:				repeat(5, 50px);
	grid-gap:						5px;
}

.key {
    background-color:				#333;
    color:							#FFF;
    border:							2px solid grey;
    border-radius:					5px;
    grid-column:					span 4;
    font-size:						15px;
    text-align:						center;
    padding-top:					15px;
}

.key:hover {
	transform:						scale(1.6);
    font-size:						10px;
	
}

.key5, .nokey {
    grid-column:					span 5;
}

.key6 {
    grid-column:					span 6;
}

.key7 {
    grid-column:					span 7;
}

.key9 {
    grid-column:					span 9;
}

.kmod {
    grid-column:					span 7;
	height:							15px;
	line-height:					0px;
}

.tiny {
	color:							#888;
	font-size:						11px;
	letter-spacing:					5px;
}

/* ******************** */
/*	Keyboard related	*/
/* ******************** */

#keymapTitle {
	font-size:						24px;
	font-weight:					bold;
}
	
#kmName,
#kmAbbr {
	font-size:						24px;
	font-weight:					bold;
	height:							3em;
	border:							0px;
	outline:						none;
}

#kmName {
	margin-right:					25px;
}

#kmAbbr {
	padding:						0px 5px 0px 5px;
}

.note {
	margin-top:						600px;	
}

.threedots {
	position:						absolute;
	margin-top:						50px;
}

#options {
	width:							25px;
	margin-top:						10px;
	margin-left:					550px;
	transition:						transform .2s;
}

#options:hover,
.clear:hover,
.copy:hover,
.paste:hover {
	transform:						scale(1.5);
}

#lockScreen {
	position:						absolute;
	width:							99%;
	height:							99%;
	background:						#0003;
}

#keyDivOptions {
	top:							290px;
	height:							auto;
	width:							100px;
	position:						fixed;
	padding:						10px;
	border:							3px white solid;
	border-radius:					10px;
	background:						#333;
}

#keyboardGlow {
	width:							950px;
	height:							315px;
	border-radius:					15px;
	border-bottom-left-radius:		50px;
	border-bottom-right-radius:		50px;
	position:						absolute;
	top:							316px;
	left:							405px;
	padding:						0px;
}

.clear {
	width:							24%;
	padding:						1px;
}

.copy {
	width:							25%;
	padding:						1px 2px;
}

.paste {
	width:							25%;
	float:							left;
	padding:						1px 2px;
	margin-top:						1px;
}

.iconright {
	float:							right;
}

.iconleft {
	float:							left;
}